<div class="card card-body">

    <div class="container">
        <h1 class="page-header">Good Choice!</h1>
        <p>You've chosen to send {{mystery.title}} to an intrepid kid detective!</p>

        <div class="row">
            <div class="col-8">
                {{!-- <div class="float-left"> --}}

                <ul class="nav nav-tabs">
                    <li class="active orderTab"><a data-toggle="tab"
                           href="#billingInfo">Billing Info</a></li>
                    <li class="orderTab"><a data-toggle="tab"
                           href="#shippingInfo">Shipping Info</a></li>
                    <li class="orderTab"><a data-toggle="tab"
                           href="#reviewOrder">Review Order</a></li>
                </ul>

                <div class="tab-content">

                    <!-- START contact info panel -->
                    <div id="billingInfo"
                         class="tab-pane active">
                        <p>Please review your information before proceeding with your order.</p>


                        <form class="form-group"
                              action="/subscribe/updateCustomer?_method=PUT"
                              method="post">
                            <input type="hidden"
                                   name="_method"
                                   value="PUT">
                            <div>
                                <label for="email">Email address</label>
                                <input type="email"
                                       class="form-control"
                                       name="email"
                                       aria-describedby="emailHelp"
                                       placeholder="email"
                                       required
                                       autofocus
                                       value={{user.email}}>
                                <small id="emailHelp"
                                       class="form-text text-muted">We'll never share your email with anyone
                                    else.</small>
                            </div>

                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input type="text"
                                       class="form-control"
                                       name="firstName"
                                       placeholder="first name"
                                       required
                                       value={{user.firstName}}>
                            </div>

                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input type="text"
                                       class="form-control"
                                       name="lastName"
                                       placeholder="last name"
                                       required
                                       value={{user.lastName}}>
                            </div>

                            <div class="form-group">
                                <label for="address1">Address 1</label>
                                <input type="text"
                                       class="form-control"
                                       name="address1"
                                       placeholder="street address 1"
                                       required
                                       value={{user.address1}}>
                            </div>

                            <div class="form-group">
                                <label for="address 2">Address 2</label>
                                <input type="text"
                                       class="form-control"
                                       name="address 2"
                                       placeholder="street address 2"
                                       value={{user.address2}}>
                            </div>

                            <div class="form-group">
                                <label for="country">Country</label>
                                <input type="text"
                                       class="form-control"
                                       name="country"
                                       placeholder="country"
                                       required
                                       value={{user.country}}>
                            </div>

                            <div class="form-group">
                                <label for="city">City</label>
                                <input type="text"
                                       class="form-control"
                                       name="city"
                                       placeholder="city"
                                       required
                                       value={{user.city}}>
                            </div>

                            <div class="form-group">
                                <label for="postalZip">Region</label>
                                <input type="text"
                                       class="form-control"
                                       name="provState"
                                       placeholder="province/state"
                                       required
                                       value={{user.provState}}>
                            </div>

                            <div class="form-group">
                                <label for="postalZip">Postal/Zip Code</label>
                                <input type="text"
                                       class="form-control"
                                       name="postalZip"
                                       placeholder="postal code/zip code"
                                       required
                                       value={{user.postalZip}}>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <button type="submit"
                                            class="btn btn-primary float-left"
                                            id="btnBillingInfo">Update</button>


                                    <button type="submit"
                                            class="btn btn-next float-right"
                                            id="btnBillingNext">Next</button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- END contact info panel -->

                    <!-- START shipping info panel -->
                    <div id="shippingInfo"
                         class="tab-pane ">
                        <p>Please review the shipping info. Remember, this is the address for the detective
                            recieving
                            the
                            case.
                            <b>If</b> you would prefer to deliver the clues yourself, select: <i>"No, I will track
                                the
                                detective's progress and send the mystery events
                                myself at the right time!"</i> To learn more about this option, <button
                                    id="delivery">click
                                here</button>
                            .
                        </p>

                        <!-- The Modal -->
                        <div id="deliveryModal"
                             class="modal">

                            <!-- Modal content -->
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <div class="container">
                                    <h3>Thinking about delivering the mystery events yourself?</h3>
                                    <br>


                                    <p><b>You can!</b> It is important to us that all our customers have the option
                                        of
                                        keeping
                                        the contact details of
                                        the
                                        recieving
                                        kid
                                        detective private. However, because our mystery events are only sent out
                                        after
                                        the
                                        previous event has been
                                        completed
                                        online, it can be tricky to know when to give the detective their next set
                                        of
                                        clues.
                                        For
                                        that reason, we offer
                                        three
                                        delivery options. They are:</p>
                                    <ol>
                                        <li>We deliver them directly to the detective at the shipping address for
                                            the
                                            detective
                                            that you provide.
                                        </li>
                                        <li>You opt have the events sent to your billing address and we ship each
                                            one
                                            when
                                            it's
                                            the right time so you
                                            can
                                            deliver
                                            it to
                                            your
                                            kid detective in person.</li>
                                        <li>We send all events to you at once and you keep track of the detective's
                                            progress
                                            and
                                            deliver each event when
                                            it's time.</li>
                                    </ol>

                                    <p>Just before you decide which option is for you, we wanted to remind you that:
                                    </p>

                                    <ul>
                                        <li>including a last name for the detective is optional
                                        <li>we will NEVER sell or use any personal data that you give us for any
                                            other
                                            reason
                                            without your consent</li>
                                        <li>all data we collect is kept secure</li>
                                        </li>

                                    </ul>

                                    <p>Unfortunately, if events are
                                        lost or damaged after they reach you, we cannot resend them. We can,
                                        however,
                                        offer
                                        a
                                        digital version.</p>

                                    <p>If you still have any questions or concerns, please feel free to reach out to
                                        us
                                        through
                                        our contact form on our
                                        <a href="/about">About page</a> .</p>


                                </div>
                            </div>

                        </div>

                        <br>

                        <form class="form-group"
                              action="/subscribe/updateShipping?_method=PUT"
                              method="post">
                            <input type="hidden"
                                   name="_method"
                                   value="PUT">

                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio"
                                           id="normal"
                                           class="form-check-input"
                                           name="optradio"
                                           value="0"
                                           checked>Yes, please handle shipping all the mystery's events at the right
                                    time!
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio"
                                           id="special"
                                           class="form-check-input"
                                           name="optradio"
                                           value="1">No, I will track the detective's progress and send the
                                    mystery
                                    events
                                    myself at the right time!
                                </label>
                            </div>

                            <div class="form-group shipping-form-group">
                                <label for="name">First Name</label>
                                <input type="text"
                                       class="form-control"
                                       name="name"
                                       required
                                       autofocus
                                       placeholder="name">
                            </div>

                            <div class="form-group shipping-form-group">
                                <label for="lastName">Last Name</label>
                                <input type="text"
                                       class="form-control"
                                       id="lastName"
                                       placeholder="last name">
                            </div>

                            <div class="form-group shipping-form-group">
                                <label for="address1">Address 1</label>
                                <input type="text"
                                       class="form-control"
                                       id="address1"
                                       placeholder="street address 1">
                            </div>

                            <div class="form-group shipping-form-group">
                                <label for="address 2">Address 2</label>
                                <input type="text"
                                       class="form-control"
                                       id="address 2"
                                       placeholder="street address 2">
                            </div>

                            <div class="form-group shipping-form-group">
                                <label for="country">Country</label>
                                <input type="text"
                                       class="form-control"
                                       id="country"
                                       placeholder="street country">
                            </div>

                            <div class="form-group shipping-form-group">
                                <label for="city">City</label>
                                <input type="text"
                                       class="form-control"
                                       id="city"
                                       placeholder="street city">
                            </div>

                            <div class="form-group shipping-form-group">
                                <label for="postalZip">Region</label>
                                <input type="text"
                                       class="form-control"
                                       id="region"
                                       placeholder="province/state">
                            </div>

                            <div class="form-group shipping-form-group">
                                <label for="postalZip">Postal/Zip Code</label>
                                <input type="text"
                                       class="form-control"
                                       id="postalZip"
                                       placeholder="postal code/zip code">
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <button type="submit"
                                            class="btn btn-primary float-left"
                                            id="btnShippingInfo">Update</button>


                                    <button type="submit"
                                            class="btn btn-next float-right"
                                            id="btnShippingNext">Next</button>
                                </div>
                            </div>


                        </form>


                    </div>
                    <!-- END shipping info panel -->

                    <!-- START review order panel -->
                    <div id="reviewOrder"
                         class="tab-pane ">
                        <h3>Review Order</h3>
                        <p>Reveiw your order and click the PayPal button to complete the transaction.</p>
                        <br />
                        <table class="table table-borderless">
                            <tr>
                                <td class="text-right ">{{mystery.title}}</td>
                                <td class="text-right ">{{mystery.price}}</td>
                            </tr>
                            <tr>
                                <td class="text-right ">Tax(HST)</td>
                                <td class="text-right ">{{mystery.tax}}</td>
                            </tr>
                            <tr>
                                <td class="text-right">Total</td>
                                <td class="text-right table-danger">{{total}}</td>
                            </tr>
                        </table>
                        <hr>

                        <form class="form-group"
                              action="/subscribe/createOrder?_method=PUT"
                              method="post">
                            <input type="hidden"
                                   name="_method"
                                   value="PUT">
                            <div class="row">
                                <div class="col-12">


                                    <button type="submit"
                                            class="btn btn-next float-right"
                                            id="btnShippingNext">Next</button>
                                </div>
                        </form>
                    </div>
                    <!-- END review order panel -->

                    {{!-- </div><!-- float left --> --}}
                </div><!-- col 8 -->
            </div><!-- row -->


            <div class="row">
                <div class="col-4">
                    {{!-- <div class="float-right"> --}}
                    <!-- START side panels -->

                    <div class="card mini-title"
                         id="firstTitleCard"
                         style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">The Mystery</h5>
                        </div>
                    </div>

                    <div class="card mini-info"
                         style="width: 18rem;">
                        <div class="card-body">
                            <p class="card-text">{{mystery.title}}
                            </p>
                            <a href="/mysteries"
                               class="btn btnChangeOrder">Change Mystery</a>
                        </div>
                    </div>

                    <div class="card mini-title"
                         style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Billing Address</h5>
                        </div>
                    </div>

                    <div class="card mini-info"
                         style="width: 18rem;">
                        <div class="card-body">
                            <p class="card-text">
                                {{user.firstName}} {{user.lastName}}
                                <br>
                                {{user.address1}}
                                <br>
                                {{#if user.address2}}
                                {{user.address2}}
                                <br>
                                {{/if}}
                                {{user.city}}, {{user.provState}}
                                <br>
                                {{user.country}}
                                <br>
                                {{user.postalZip}}
                            </p>
                        </div>
                    </div>

                    <div class="card mini-title"
                         style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Shipping Address</h5>
                        </div>
                    </div>

                    <div class="card mini-info"
                         style="width: 18rem;">
                        <div class="card-body">
                            <p class="card-text">{{mystery.title}}
                            </p>
                        </div>
                    </div>

                    <div class="card mini-title"
                         style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Order Total</h5>
                        </div>
                    </div>

                    <div class="card mini-info"
                         style="width: 18rem;">
                        <div class="card-body">
                            <p class="card-text">{{newOrder.id}}</p>
                            <p class="card-text">{{newOrder.secretName}}</p>
                            <p class="card-text">{{newOrder.secretCode}}</p>
                            <p class="card-text">{{mystery.title}}
                            </p>
                            <a href="#"
                               class="btn btnCheckout"
                               id="btnCheckout">Checkout</a>
                        </div>
                    </div>


                    <!-- END side panels -->

                    {{!-- </div><!-- float-right --> --}}
                </div><!-- col 4 -->
            </div><!-- row -->


        </div>
    </div>