<div class="jumbotron jumbotron-fluid text-left"
     id="detect-dash-title-jumbotron">
    <h2 class="display-3"></h2> <!-- make in routes.js -->
</div> <!-- 2 curly braces renders variable passed to page from routes.js render -->

<div class="container">

    {{#if (activeMystery req.session.orderDetails)}}

    <p class="body-title">You are currently working on: {{mystery.title}}</p>

    <p class="reg-body">We have new questions for you based on our most recent shipment of information and clues:</p>

    {{else}}
    <p class="body-title">You have completed your mystery. GOOD JOB!</p>
    {{/if}}

    {{!-- {{eventNumber}} --}}

    <ol id="eventList">
        {{#each clues}}

        <li>Event Item: <a href="/detective/image?image={{this.image}}"
               class="viewImage">{{this.item}}</a></li>
        {{/each}}
    </ol>

    {{#if (activeMystery req.session.orderDetails)}}
    <p class="reg-body">Below you can access the questions we currently have for you. Remember that once you have
        submitted your
        answers, we'll do some more
        research and send you the next set of clues, so you can only answer these questions once.</p>

    <form action="/detective/questions">
        <input type="submit"
               class="submit"
               value="I'm ready to answer questions!"></form>

    {{else}}
    <p class="reg-body">Feel free to look around the artifacts.</p>
    {{/if}}


    <div class="container">
    </div>
</div>