<div class="jumbotron jumbotron-fluid text-left"
     id="detect-dash-title-jumbotron">
    <h2 class="display-3"></h2> <!-- make in routes.js -->
</div> <!-- 2 curly braces renders variable passed to page from routes.js render -->

<div class="container">

    <p class="body-subtitle">Your questions for: {{mystery.title}}, Clue Pack {{currentEvent.eventNumber}}</p>

    <p class="reg-body">We have new questions for you based on our most recent shipment of information and clues:</p>

    <div class="container">

        <form class="form-group"
              action="/detective/answered?_method=PUT"
              method="post">
            <input type="hidden"
                   name="_method"
                   value="PUT">

            {{#each questionArray}}

            <div class="card">
                <div class="card-body question-card">
                    <label for="answer{{@index}}">{{this.question}}</label>
                    <textarea class="question-answer"
                              name="answer{{@index}}"></textarea>
                </div>
            </div>

            {{/each}}

            <br>

            <div class="row">
                <div class="col-12">
                    <button type="button"
                            class="btn submit btn-primary float-left"
                            id="btnBackDash">Back</button>


                    <button type="submit"
                            class="btn submit btn-next float-right"
                            id="btnSubmitAnswers">Submit Answers</button>
                </div>
            </div>

        </form>
    </div>
</div>